.listing {
  width: 100%;
  display: flex;
  flex-direction: row;

  &__photos {
    width: 65%;
    height: 80vh;
    max-height: 60rem;
    margin-right: 1rem;
  }

  &__info {
    width: 35%;
    margin-left: 1rem;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      svg {
        width: 2.8rem;
        height: 2.8rem;
      }
    }

    &__edit {
      &:link,
      &:visited {
        color: var(--color-grey-dark-1);
      }

      &:hover {
        color: var(--color-secondary-light);
      }
    }

    &__heart {
      cursor: pointer;

      &--gray {
        color: var(--color-grey-dark-1);
      }

      &--red,
      &:hover {
        color: var(--color-primary);
      }
    }

    &__stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--seens-likes {
        display: flex;
        flex-direction: row;

        div {
          display: flex;
          flex-direction: row;
          align-items: center;

          svg {
            margin-right: 0.5rem;
          }

          &:not(:last-child) {
            margin-right: 1.5rem;
          }
        }
      }
    }

    &__details {
      div {
        display: flex;
        flex-direction: row;
        div {
          font-weight: 700;
          width: 9rem;
        }
      }

      p {
        white-space: pre-wrap;
      }
    }

    &__owner {
      display: flex;
      flex-direction: row;

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;

        &--name {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }

      a {
        &:link,
        &:visited,
        &:active {
          color: var(--color-grey-dark-3);
        }
      }
    }

    &__map {
      &--small {
        border-top-left-radius: var(--border-radius-small);
        border-top-right-radius: var(--border-radius-small);
        width: 100%;
        height: 12rem;
        cursor: pointer;
      }

      &--large {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 9999;

        #listing-map-large {
          width: 100%;
          height: 100%;
        }
      }

      &--marker {
        width: 5rem;
        height: 5rem;
        background-color: rgba($color: #000000, $alpha: 0.4);
        border-radius: var(--border-raidus-large);
      }
    }

    &__location {
      height: 4rem;
      border-bottom-left-radius: var(--border-radius-small);
      border-bottom-right-radius: var(--border-radius-small);
      border: 1px solid var(--color-grey-light-1);
      border-top: none;
      padding-left: 1.5rem;

      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__mini-chatbox {
    border-radius: var(--border-radius-xsmall);
    background-color: var(--color-secondary-dark);

    padding: 1.5rem;
    font-weight: 300;

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 0.8rem;

      font-size: 1.5rem;
      color: var(--color-white);

      svg {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
      }

      &:link,
      &:visited {
        text-decoration: none;
        margin-bottom: 0;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__input {
      @include input-field-common-styles;
      font-size: 1.4rem;
      height: 2.8rem;
      padding: 1.2rem;
      border-radius: var(--border-radius-xsmall);
      margin-bottom: 0.8rem;
    }

    &__btn {
      font-size: 1.4rem;
      border: none;
      border-radius: var(--border-radius-small);
      padding: 0.5rem 1.2rem;
      color: var(--color-secondary-dark);
      background-color: var(--color-grey-light-1);
      cursor: pointer;

      &:hover {
        background-color: var(--color-white);
        transform: translateY(-1px);
        transition: all 0.2s;
      }

      &:disabled {
        background-color: var(--color-grey-light-2);
        color: var(--color-grey-dark-1);
        cursor: default;

        &:hover {
          transform: none;
        }
      }
    }
  }
}
