.profile {
  &__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2.5rem;
    }
  }
}
