.user-page-layout {
  max-width: 100rem;
  margin: 0 auto;

  &__header {
    padding-bottom: 2rem;
  }

  &__nav {
    border-bottom: 1px solid var(--color-grey-light-2);
    margin-bottom: 2rem;

    &__item {
      display: inline-block;
      border-bottom: 3px solid transparent;
      padding-bottom: 0.8rem;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &:hover {
        color: var(--color-secondary-dark);
        border-bottom-color: var(--color-secondary-dark);
      }

      &:active,
      &--active {
        color: var(--color-primary);
        border-bottom-color: var(--color-primary);
      }
    }
  }
}
