.heading-primary {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize; }

.heading-secondary {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize; }

.heading-tertiary {
  font-size: var(--default-font-size);
  font-weight: 700;
  text-transform: capitalize; }

.heading-quaternary {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize; }

.sub-heading-tertiary {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3rem;
  color: var(--color-grey-dark-1); }

.sub-heading-quaternary {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3rem;
  color: var(--color-grey-dark-1); }

.sub-heading-quinary {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3rem;
  color: var(--color-grey-dark-2); }

.paragraph-small-font-size {
  font-size: 1.5rem;
  font-weight: 500; }

.paragraph {
  font-size: var(--default-font-size); }

.u-center-text {
  text-align: center; }

.u-white-bg {
  background-color: var(--color-white); }

.u-margin-bottom-xxsmall {
  margin-bottom: 0.5rem; }

.u-margin-bottom-xsmall {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 4.5rem; }

.u-margin-top-xxsmall {
  margin-top: 0.5rem; }

.u-margin-top-xsmall {
  margin-top: 1rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-2rem {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-top-big {
  margin-top: 4.5rem; }

.u-hide {
  display: none; }

.u-invisible {
  visibility: hidden; }

.u-show-arrow-on-hover:hover > .arrow {
  display: flex; }

.u-divider {
  background-color: var(--color-grey-light-2);
  color: var(--color-grey-light-2);
  height: 1px;
  border-width: 0; }

.u-flex-item-full-width {
  flex-basis: 100%; }

.u-font-weight-300 {
  font-weight: 300; }

.u-z-index-0 {
  z-index: 0; }

:root {
  --color-primary: #ff7851;
  --color-primary-light: #ffb7a1;
  --color-secondary-light: #7ed56f;
  --color-secondary-dark: #28b485;
  --color-pink-grey: #ede7e7;
  --color-blue-grey: #76768e;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #f30000;
  --color-red-light: #eb4d4b;
  --color-grey-light-1: #f3f3f3;
  --color-grey-light-2: #e0e0e0;
  --color-grey-light-3: #cecece;
  --color-grey-light-4: #b4b3b3;
  --color-grey-dark-1: rgb(109, 109, 109);
  --color-grey-dark-2: rgb(82, 82, 82);
  --color-grey-dark-3: #333;
  --content-max-width: 120rem;
  --header-height: 6.5rem;
  --default-font-size: 1.6rem;
  --footer-font-size: 1.4rem;
  --border-radius-xsmall: 0.5rem;
  --border-radius-small: 1rem;
  --border-radius-medium: 2rem;
  --border-raidus-large: 3rem;
  --padding-body: 2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark-3); }

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: var(--color-white);
  padding: 1rem 4rem;
  font-size: 1.6rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
  .alert--success {
    background-color: var(--color-secondary-dark); }
  .alert--error {
    background-color: var(--color-red-light); }

.avatar {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem; }
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: box-shadow 0.2s; }
  .avatar svg {
    width: 2rem;
    height: 2rem; }
  .avatar--link {
    cursor: pointer; }
    .avatar--link:link, .avatar--link:visited {
      color: var(--color-grey-dark-3); }
  .avatar--icon {
    cursor: pointer;
    background-color: var(--color-grey-light-2);
    transition: all 0.2s; }
    .avatar--icon:hover {
      background-color: var(--color-secondary-dark);
      color: var(--color-white); }
      .avatar--icon:hover img {
        box-shadow: 0 0 0 1px var(--color-secondary-light), 0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1);
        transition: box-shadow 0.2s; }
  .avatar--user-menu {
    width: 6rem;
    height: 6rem; }
    .avatar--user-menu svg {
      width: 6rem;
      height: 6rem; }
  .avatar--profile {
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 0 1px var(--color-grey-light-2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.05); }
    .avatar--profile svg {
      width: 80%;
      height: 80%; }
  .avatar--chat {
    cursor: pointer;
    background-color: var(--color-grey-light-2);
    transition: all 0.2s;
    width: 2.5rem;
    height: 2.5rem; }
    .avatar--chat:hover {
      background-color: var(--color-secondary-dark);
      color: var(--color-white); }
      .avatar--chat:hover img {
        box-shadow: 0 0 0 1px var(--color-secondary-light), 0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1);
        transition: box-shadow 0.2s; }
    .avatar--chat svg {
      width: 1.5rem;
      height: 1.5rem; }

.btn, .btn:link, .btn:visited {
  font-size: var(--default-font-size);
  text-decoration: none;
  border-radius: 2rem;
  padding: 0.6rem 1.4rem;
  transition: all 0.2s;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  outline: none; }

.btn:disabled {
  cursor: default; }

.btn--outline {
  color: var(--color-primary);
  background-color: transparent; }
  .btn--outline:hover {
    border-color: var(--color-secondary-dark);
    color: var(--color-secondary-dark); }
  .btn--outline:disabled {
    border-color: var(--color-primary-light);
    color: var(--color-primary-light); }

.btn--filled {
  background-color: var(--color-primary);
  color: var(--color-grey-light-1); }
  .btn--filled:hover {
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark); }
  .btn--filled:disabled {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light); }

.btn--full-width {
  width: 100%; }

.btn--sell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .btn--sell svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem; }

.btn-text, .btn-text:link, .btn-text:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  cursor: pointer; }

.btn-text--orange {
  color: var(--color-primary); }

.btn-text--grey {
  color: var(--color-grey-dark-1); }

.btn-text--orange:hover, .btn-text--grey:hover {
  border-bottom: 2px solid var(--color-secondary-dark);
  color: var(--color-secondary-dark); }

.btn-text--underlined--green {
  border-bottom: 1px solid var(--color-secondary-dark);
  padding: 3px 1rem;
  color: var(--color-secondary-dark);
  transition: all 0.2s;
  font-weight: 300;
  font-size: var(--default-font-size); }
  .btn-text--underlined--green:hover {
    color: var(--color-white);
    background-color: var(--color-secondary-dark);
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text--underlined--orange {
  border-bottom: 1px solid var(--color-primary);
  padding: 3px;
  color: var(--color-primary);
  transition: all 0.2s;
  font-weight: 300;
  font-size: var(--default-font-size); }
  .btn-text--underlined--orange:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.arrow {
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  outline: 0;
  background-color: transparent; }
  .arrow svg {
    width: 2.8rem;
    height: 2.8rem;
    color: var(--color-grey-dark-1); }
    .arrow svg:hover {
      color: var(--color-grey-dark-3); }
  .arrow--round {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var(--border-raidus-large); }
    .arrow--round svg,
    .arrow--round svg:hover {
      color: var(--color-white); }
    .arrow--round:hover {
      background-color: rgba(0, 0, 0, 0.7); }
  .arrow--forward {
    right: 0; }
  .arrow--disabled {
    opacity: 0.6;
    cursor: not-allowed; }

.icon-close-btn {
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--border-radius-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  position: absolute;
  top: 2rem;
  right: 2rem; }
  .icon-close-btn svg {
    width: 2rem;
    height: 2rem; }
  .icon-close-btn:hover {
    background-color: white;
    transition: background-color 0.2s; }

.form__group {
  margin-bottom: 2rem; }
  .form__group textarea {
    height: 10rem;
    resize: none; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-xsmall);
  width: 100%;
  display: block;
  border: 0;
  box-shadow: 0 0 0 1px var(--color-grey-light-2), 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.08s ease-in, color 0.08s ease-in; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--color-secondary-light), 0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1); }
  .form__input::-webkit-input-placeholder {
    color: var(--color-grey-light-2);
    font-weight: 300; }
  .form__input--error {
    box-shadow: 0 0 0 1px #ff7d7d, 0 2px 4px 0 rgba(243, 0, 0, 0.1), 0 1px 1.5px 0 rgba(243, 0, 0, 0.1); }
    .form__input--error:focus {
      box-shadow: 0 0 0 1px var(--color-red), 0 2px 4px 0 rgba(243, 0, 0, 0.15), 0 1px 1.5px 0 rgba(243, 0, 0, 0.1); }

.form__length {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-align: right;
  color: var(--color-grey-dark-1); }

.form__label {
  font-size: 1.4rem;
  display: block;
  margin-bottom: 0.5rem; }
  .form__label--add-photos {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    border-radius: var(--border-radius-xsmall);
    box-shadow: 0 0 0 1px var(--color-grey-light-2), 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
    font-weight: 300;
    margin: 0.47rem; }
    .form__label--add-photos svg {
      width: 2.5rem;
      height: 2.5rem; }
    .form__label--add-photos:hover {
      box-shadow: 0 0 0 1px var(--color-secondary-light), 0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1);
      color: var(--color-secondary-light); }
    .form__label--add-photos--full-width {
      flex-direction: row;
      width: 100%;
      font-weight: 500;
      margin: 0; }
      .form__label--add-photos--full-width svg {
        margin-right: 1rem; }
    .form__label--add-photos--error {
      box-shadow: 0 0 0 1px #ff7d7d, 0 2px 4px 0 rgba(243, 0, 0, 0.1), 0 1px 1.5px 0 rgba(243, 0, 0, 0.1); }

.form__error {
  font-size: 1.4rem;
  color: var(--color-red);
  margin-top: 0.3rem; }

.form__error-general {
  margin-bottom: 0.5rem; }

.form__btn {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .form__btn--right {
    justify-content: flex-end; }
  .form__btn .btn {
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-left: 1rem; }

.form__photo-upload {
  display: flex;
  flex-direction: row;
  align-items: center; }

.form__user-photo {
  width: 8.5rem;
  height: 8.5rem;
  background-color: var(--color-grey-light-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 2rem; }
  .form__user-photo svg {
    width: 7rem;
    height: 7rem; }
  .form__user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden; }

.form__listing-photo-upload {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .form__listing-photo-upload > div {
    margin: 0.47rem; }

.form__listing-photo {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  position: relative; }
  .form__listing-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-xsmall); }
  .form__listing-photo:hover::after {
    content: 'Remove';
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    font-size: 1.7rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;
    border-radius: var(--border-radius-xsmall);
    display: flex;
    align-items: center;
    justify-content: center; }

.icon {
  width: 4rem;
  height: 4rem;
  border-radius: var(--border-radius-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-grey-light-2);
  transition: all 0.2s; }
  .icon svg {
    width: 2rem;
    height: 2rem; }
  .icon:hover {
    background-color: var(--color-secondary-dark);
    color: var(--color-white); }
    .icon:hover img {
      box-shadow: 0 0 0 1px var(--color-secondary-light), 0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1);
      transition: box-shadow 0.2s; }

.image-slider {
  width: 100%; }
  .image-slider__container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto 1rem auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: var(--border-radius-small); }
    .image-slider__container--bordered {
      box-shadow: 0 0 0 1px var(--color-grey-light-2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.05); }
  .image-slider__content {
    height: 100%;
    display: flex; }
  .image-slider__slide {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .image-slider__pagination {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .image-slider__pagination__dot {
      padding: 2px;
      margin-right: 3px;
      border-radius: 50%;
      background-color: var(--color-grey-light-4); }
      .image-slider__pagination__dot--active {
        background-color: var(--color-white); }
  .image-slider__thumbnails {
    position: relative;
    width: 100%;
    height: 10%; }
    .image-slider__thumbnails--partial {
      margin: auto;
      overflow: hidden;
      width: 80%; }
    .image-slider__thumbnails--full {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      transition: all ease-out 0.2s; }
  .image-slider__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    opacity: 0.6; }
    .image-slider__thumbnail:hover {
      opacity: 1; }
    .image-slider__thumbnail--selected {
      opacity: 1;
      border: 1px solid var(--color-secondary-light); }
    .image-slider__thumbnail:not(:last-child) {
      margin-right: 0.5rem; }

.listing-card {
  max-width: 26rem;
  min-width: 19rem;
  position: relative; }
  .listing-card__photos {
    width: 100%;
    min-height: 19rem; }
  .listing-card__info {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .listing-card__info__title {
      color: var(--var-grey-dark-3);
      line-height: 2rem;
      display: inline-block; }
      .listing-card__info__title:link, .listing-card__info__title:active, .listing-card__info__title:hover {
        text-decoration: none; }
    .listing-card__info__price {
      line-height: 2rem; }
  .listing-card__icon-btn {
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-raidus-large);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .listing-card__icon-btn svg {
      width: 1.8rem;
      height: 1.8rem;
      color: var(--color-white); }
    .listing-card__icon-btn:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    .listing-card__icon-btn--saved svg {
      color: var(--color-primary); }
    .listing-card__icon-btn--saved:hover svg {
      color: var(--color-white); }
    .listing-card__icon-btn--delete:hover svg {
      color: var(--color-red); }
    .listing-card__icon-btn--edit:hover svg {
      color: var(--color-secondary-light); }
  .listing-card__icon-btns {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    display: flex;
    flex-direction: column; }

.btn-loader {
  width: 14rem;
  background-color: var(--color-primary);
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem; }

.location {
  position: relative; }
  .location__list {
    width: 100%;
    position: absolute;
    list-style-type: none;
    font-size: 1.3rem;
    border-radius: var(--border-radius-xsmall);
    box-shadow: 0 0 0 1px var(--color-grey-light-2), 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--color-white); }
    .location__list__item {
      padding: 1rem 2rem;
      cursor: pointer; }
      .location__list__item:hover, .location__list__item--active {
        background-color: var(--color-grey-light-1); }
      .location__list__item:first-of-type {
        border-top-left-radius: var(--border-radius-xsmall);
        border-top-right-radius: var(--border-radius-xsmall); }
      .location__list__item:last-of-type {
        border-bottom-left-radius: var(--border-radius-xsmall);
        border-bottom-right-radius: var(--border-radius-xsmall); }
  .location__loader {
    position: absolute;
    top: 4rem;
    right: 2rem; }

.messenger {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 10rem); }
  .messenger__info-cards {
    min-width: 20rem;
    max-width: 30rem;
    width: 30%;
    height: 100%;
    overflow: scroll;
    padding-right: 1rem;
    border-right: 1px solid var(--color-grey-light-1); }
    .messenger__info-cards__item {
      width: 100%;
      min-height: 6.5rem;
      padding: 0.8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      position: relative;
      border-radius: var(--border-radius-small);
      transition: background-color 0.2s; }
      .messenger__info-cards__item__middle {
        flex: 1;
        margin: 0 1rem 0.4rem 0.7rem;
        overflow: hidden; }
      .messenger__info-cards__item__recipient-name {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: capitalize;
        white-space: nowrap; }
      .messenger__info-cards__item__last-msg {
        font-size: 1.2rem;
        font-weight: 400;
        white-space: nowrap;
        color: var(--color-grey-dark-2); }
      .messenger__info-cards__item__last-sent-at {
        font-size: 1.1rem;
        line-height: 1.1;
        font-weight: 300; }
      .messenger__info-cards__item__listing-photo {
        width: 4rem;
        height: 4rem;
        flex-shrink: 0; }
        .messenger__info-cards__item__listing-photo img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--border-radius-xsmall);
          transition: box-shadow 0.2s; }
          .messenger__info-cards__item__listing-photo img:hover {
            box-shadow: 0 0 0 1px var(--color-secondary-light), 0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1); }
      .messenger__info-cards__item--unread .messenger__info-cards__item__recipient-name {
        font-weight: 700; }
      .messenger__info-cards__item--unread .messenger__info-cards__item__last-msg {
        font-weight: 700;
        color: var(--color-grey-dark-3); }
      .messenger__info-cards__item--unread::before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--color-primary);
        position: absolute;
        top: 1.3rem; }
      .messenger__info-cards__item--active, .messenger__info-cards__item:hover {
        background-color: var(--color-grey-light-1); }
  .messenger__conversation-card {
    flex: 1;
    height: 100%;
    position: relative; }
    .messenger__conversation-card__header {
      display: flex;
      flex-direction: row;
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1); }
    .messenger__conversation-card__delete {
      flex-shrink: 0;
      margin: auto 1rem;
      background-color: transparent; }
    .messenger__conversation-card__listing {
      width: 100%;
      display: flex;
      overflow: hidden;
      padding: 1rem;
      transition: background-color 0.2s; }
      .messenger__conversation-card__listing:link, .messenger__conversation-card__listing:visited {
        text-decoration: none;
        color: var(--color-grey-dark-3); }
      .messenger__conversation-card__listing:hover {
        background-color: var(--color-grey-light-1);
        border-top-right-radius: var(--border-radius-xsmall); }
      .messenger__conversation-card__listing__photo {
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
        flex-shrink: 0; }
        .messenger__conversation-card__listing__photo img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--border-radius-xsmall); }
      .messenger__conversation-card__listing > p {
        white-space: nowrap; }
    .messenger__conversation-card__body {
      width: 100%;
      padding: 0 1rem;
      height: calc( 100% - 7rem - 5rem);
      overflow: scroll; }
    .messenger__conversation-card__recipient {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 2rem 0; }
      .messenger__conversation-card__recipient:link, .messenger__conversation-card__recipient:visited {
        text-decoration: none;
        color: var(--color-grey-dark-3); }
      .messenger__conversation-card__recipient__info {
        margin-left: 0.8rem; }
    .messenger__conversation-card__message__sent-at {
      font-size: 1rem;
      font-weight: 300;
      color: var(--color-grey-dark-1);
      line-height: 1.3;
      margin-bottom: 0.5rem; }
      .messenger__conversation-card__message__sent-at--right-align {
        text-align: right; }
    .messenger__conversation-card__message--left {
      display: flex;
      align-items: flex-end; }
      .messenger__conversation-card__message--left a {
        margin-bottom: 0.5rem; }
      .messenger__conversation-card__message--left__content {
        font-size: 1.5rem;
        max-width: 50%;
        padding: 0.7rem 1.2rem;
        border-radius: var(--border-radius-small);
        margin: 0.1rem;
        line-height: 1.5;
        background-color: var(--color-grey-light-1);
        margin-left: 1rem;
        margin-right: 0.5rem; }
    .messenger__conversation-card__message--right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      .messenger__conversation-card__message--right__content {
        font-size: 1.5rem;
        max-width: 50%;
        padding: 0.7rem 1.2rem;
        border-radius: var(--border-radius-small);
        margin: 0.1rem;
        line-height: 1.5;
        background-color: var(--color-secondary-dark);
        color: var(--color-white);
        margin-left: 0.5rem;
        margin-right: 0.5rem; }
      .messenger__conversation-card__message--right__status svg {
        width: 1.2rem;
        height: 1.2rem; }
      .messenger__conversation-card__message--right__status--seen {
        color: var(--color-secondary-dark); }
    .messenger__conversation-card__form {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 0 1rem;
      display: flex; }
    .messenger__conversation-card__input {
      width: 100%;
      height: 100%;
      border: none;
      color: var(--color-grey-dark-3);
      border-radius: var(--border-raidus-large);
      background-color: var(--color-grey-light-1);
      padding: 1rem; }
      .messenger__conversation-card__input:focus {
        outline: none;
        box-shadow: 0 0 0 1px var(--color-secondary-light), 0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1); }
      .messenger__conversation-card__input::placeholder {
        color: var(--color-grey-light-4); }
    .messenger__conversation-card__submit-btn {
      margin-left: 1rem; }

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .modal__container {
    padding: 2rem;
    margin: 2rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius-xsmall);
    font-size: var(--default-font-size);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative; }
    .modal__container__close-btn {
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
      width: 4rem;
      height: 4rem;
      color: var(--color-grey-dark-1); }
      .modal__container__close-btn:hover {
        color: var(--color-grey-dark-3); }
  .modal__content {
    color: var(--color-grey-dark-1);
    font-weight: 300;
    max-width: 40rem; }
  .modal__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .modal__actions > * {
      flex-grow: 1; }
      .modal__actions > *:not(:last-child) {
        margin-right: 1rem; }

.user-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; }
  .user-menu__container {
    background-color: var(--color-white);
    width: 25rem;
    padding: 1rem;
    position: fixed;
    right: 2rem;
    top: var(--header-height);
    border-radius: var(--border-radius-xsmall);
    box-shadow: 0 0 1.5rem 0.2rem rgba(0, 0, 0, 0.3); }
  .user-menu__option__icon {
    margin-right: 1rem;
    width: 20%; }
  .user-menu__option__content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .user-menu__option__content svg {
      width: 2rem;
      height: 2rem; }
  .user-menu__option__hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: var(--border-radius-xsmall);
    transition: background-color 0.2s;
    cursor: pointer; }
    .user-menu__option__hover:hover {
      background-color: var(--color-grey-light-1); }
  .user-menu__option a,
  .user-menu__option a:visited,
  .user-menu__option a:hover,
  .user-menu__option a:active {
    text-decoration: none;
    color: inherit; }
  .user-menu__brief-info {
    padding-left: 1rem;
    display: flex;
    flex-direction: column; }

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem; }
  .search-input__search {
    position: relative;
    height: 100%;
    width: 30rem; }
    .search-input__search--input {
      width: 100%;
      height: 100%;
      border: none;
      color: var(--color-grey-dark-3);
      padding: 1.5rem;
      padding-right: 4rem;
      font-size: var(--default-font-size);
      border-radius: var(--border-radius-small); }
      .search-input__search--input:focus {
        outline: none;
        box-shadow: 0 0 0 1px var(--color-secondary-light), 0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1); }
      .search-input__search--input::placeholder {
        color: var(--color-grey-light-4); }
    .search-input__search--btn {
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
      color: var(--color-grey-dark-1);
      width: 2rem;
      height: 2rem; }
      .search-input__search--btn:hover {
        color: var(--color-grey-dark-3); }
  .search-input__filters {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem; }
    .search-input__filters:hover {
      color: var(--color-secondary-dark); }

.container {
  /*  
    When the main content is empty, with this container,
    it'll put the footer at the bottom of the viewport.
    When the content is longer than the viewport, the
    footer will be at the end of the content.
  */ }
  .container__fit-min-content-to-viewport-height {
    display: flex;
    min-height: 100vh;
    flex-direction: column; }
  .container__center-content-horizontally {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .container__form {
    margin: 2rem auto;
    padding: 0 2rem;
    min-width: 38rem;
    max-width: 48rem; }

footer {
  padding: var(--padding-body);
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
  font-size: var(--footer-font-size); }
  footer .footer {
    width: var(--content-max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    footer .footer__logo {
      height: 5.5rem; }
      footer .footer__logo img {
        max-width: 100%;
        max-height: 100%; }

header {
  padding: var(--padding-body);
  background-color: var(--color-grey-light-1);
  height: var(--header-height);
  z-index: 1;
  position: sticky;
  top: 0; }
  header .header {
    width: var(--content-max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .header__logo {
      height: 4rem; }
      header .header__logo img {
        max-width: 100%;
        max-height: 100%; }
    header .header__nav {
      display: flex;
      flex-direction: row;
      align-items: center; }
      header .header__nav > *:not(:last-child) {
        margin-right: 0.8rem; }

main {
  padding: var(--padding-body);
  flex: 1; }
  main .main {
    width: 100%;
    max-width: var(--content-max-width); }

.settings {
  margin: 2rem auto;
  width: 100%;
  max-width: 70vw;
  display: grid;
  grid-template-columns: 20rem 1fr; }
  .settings .container__form {
    margin: 0; }
  .settings__dropdown {
    font-size: var(--default-font-size);
    text-transform: uppercase;
    font-weight: 300;
    line-height: 3rem;
    border-right: 1px solid var(--color-grey-light-2); }
    .settings__dropdown__option {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem 2rem 1rem 1.5rem;
      cursor: pointer;
      transition: all 0.3s; }
      .settings__dropdown__option svg {
        width: 2rem;
        height: 2rem; }
      .settings__dropdown__option span {
        margin-left: 1rem; }
      .settings__dropdown__option:hover {
        background-color: var(--color-grey-light-1);
        border-left: 4px solid var(--color-primary); }
      .settings__dropdown__option__active {
        border-left: 4px solid var(--color-primary); }
    .settings__dropdown__btn {
      display: none; }
  .settings__content {
    margin-left: 2rem; }

.listing {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .listing__photos {
    width: 65%;
    height: 80vh;
    max-height: 60rem;
    margin-right: 1rem; }
  .listing__info {
    width: 35%;
    margin-left: 1rem; }
    .listing__info__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .listing__info__title svg {
        width: 2.8rem;
        height: 2.8rem; }
    .listing__info__edit:link, .listing__info__edit:visited {
      color: var(--color-grey-dark-1); }
    .listing__info__edit:hover {
      color: var(--color-secondary-light); }
    .listing__info__heart {
      cursor: pointer; }
      .listing__info__heart--gray {
        color: var(--color-grey-dark-1); }
      .listing__info__heart--red, .listing__info__heart:hover {
        color: var(--color-primary); }
    .listing__info__stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .listing__info__stats--seens-likes {
        display: flex;
        flex-direction: row; }
        .listing__info__stats--seens-likes div {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .listing__info__stats--seens-likes div svg {
            margin-right: 0.5rem; }
          .listing__info__stats--seens-likes div:not(:last-child) {
            margin-right: 1.5rem; }
    .listing__info__details div {
      display: flex;
      flex-direction: row; }
      .listing__info__details div div {
        font-weight: 700;
        width: 9rem; }
    .listing__info__details p {
      white-space: pre-wrap; }
    .listing__info__owner {
      display: flex;
      flex-direction: row; }
      .listing__info__owner__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem; }
        .listing__info__owner__info--name {
          font-size: 1.5rem;
          font-weight: 700; }
      .listing__info__owner a:link, .listing__info__owner a:visited, .listing__info__owner a:active {
        color: var(--color-grey-dark-3); }
    .listing__info__map--small {
      border-top-left-radius: var(--border-radius-small);
      border-top-right-radius: var(--border-radius-small);
      width: 100%;
      height: 12rem;
      cursor: pointer; }
    .listing__info__map--large {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      z-index: 9999; }
      .listing__info__map--large #listing-map-large {
        width: 100%;
        height: 100%; }
    .listing__info__map--marker {
      width: 5rem;
      height: 5rem;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: var(--border-raidus-large); }
    .listing__info__location {
      height: 4rem;
      border-bottom-left-radius: var(--border-radius-small);
      border-bottom-right-radius: var(--border-radius-small);
      border: 1px solid var(--color-grey-light-1);
      border-top: none;
      padding-left: 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center; }
  .listing__mini-chatbox {
    border-radius: var(--border-radius-xsmall);
    background-color: var(--color-secondary-dark);
    padding: 1.5rem;
    font-weight: 300; }
    .listing__mini-chatbox__title {
      display: flex;
      align-items: center;
      margin-bottom: 0.8rem;
      font-size: 1.5rem;
      color: var(--color-white); }
      .listing__mini-chatbox__title svg {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem; }
      .listing__mini-chatbox__title:link, .listing__mini-chatbox__title:visited {
        text-decoration: none;
        margin-bottom: 0; }
    .listing__mini-chatbox__form {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
    .listing__mini-chatbox__input {
      width: 100%;
      height: 100%;
      border: none;
      color: var(--color-grey-dark-3);
      font-size: 1.4rem;
      height: 2.8rem;
      padding: 1.2rem;
      border-radius: var(--border-radius-xsmall);
      margin-bottom: 0.8rem; }
      .listing__mini-chatbox__input:focus {
        outline: none;
        box-shadow: 0 0 0 1px var(--color-secondary-light), 0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1); }
      .listing__mini-chatbox__input::placeholder {
        color: var(--color-grey-light-4); }
    .listing__mini-chatbox__btn {
      font-size: 1.4rem;
      border: none;
      border-radius: var(--border-radius-small);
      padding: 0.5rem 1.2rem;
      color: var(--color-secondary-dark);
      background-color: var(--color-grey-light-1);
      cursor: pointer; }
      .listing__mini-chatbox__btn:hover {
        background-color: var(--color-white);
        transform: translateY(-1px);
        transition: all 0.2s; }
      .listing__mini-chatbox__btn:disabled {
        background-color: var(--color-grey-light-2);
        color: var(--color-grey-dark-1);
        cursor: default; }
        .listing__mini-chatbox__btn:disabled:hover {
          transform: none; }

.listings {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  grid-gap: 0.8rem; }

.profile__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem; }
  .profile__header__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2.5rem; }

.user-page-layout {
  max-width: 100rem;
  margin: 0 auto; }
  .user-page-layout__header {
    padding-bottom: 2rem; }
  .user-page-layout__nav {
    border-bottom: 1px solid var(--color-grey-light-2);
    margin-bottom: 2rem; }
    .user-page-layout__nav__item {
      display: inline-block;
      border-bottom: 3px solid transparent;
      padding-bottom: 0.8rem;
      cursor: pointer; }
      .user-page-layout__nav__item:not(:last-child) {
        margin-right: 1.5rem; }
      .user-page-layout__nav__item:hover {
        color: var(--color-secondary-dark);
        border-bottom-color: var(--color-secondary-dark); }
      .user-page-layout__nav__item:active, .user-page-layout__nav__item--active {
        color: var(--color-primary);
        border-bottom-color: var(--color-primary); }

