header {
  padding: var(--padding-body);
  background-color: var(--color-grey-light-1);
  height: 6.5rem;
  border-bottom: solid 1px var(--color-grey-light-2);

  // Make it sticky
  position: sticky;
  top: 0;

  .header {
    @include expand-content-to-max-width;

    &__logo {
      height: 4rem;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__nav {
      a {
        margin-left: 2rem;
      }
    }
  }
}
