@mixin expand-content-to-max-width {
  width: var(--content-max-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin input-field-common-styles {
  width: 100%;
  height: 100%;
  border: none;
  color: var(--color-grey-dark-3);

  &:focus {
    outline: none;
    box-shadow: $shadow-green;
  }

  &::placeholder {
    color: var(--color-grey-light-4);
  }
}

@mixin icon-like-common-styles {
  cursor: pointer;
  background-color: var(--color-grey-light-2);
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);

    img {
      box-shadow: $shadow-green;
      transition: box-shadow 0.2s;
    }
  }
}

@mixin img-100-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin message-content {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 50%;
  padding: 0.7rem 1.2rem;
  border-radius: var(--border-radius-small);
  margin: 0.1rem;
  line-height: 1.5;
  color: var(--color-black);
}
