:root {
  // COLORS
  --color-primary: #ff7851;
  --color-primary-light: #ffb7a1;

  --color-secondary-light: #7ed56f;
  --color-secondary-dark: #28b485;

  --color-pink-grey: #ede7e7;
  --color-blue-grey: #76768e;

  --color-white: #fff;
  --color-black: #000;
  --color-red: #f30000;
  --color-red-light: #eb4d4b;

  --color-grey-light-1: #f3f3f3;
  --color-grey-light-2: #e0e0e0;
  --color-grey-light-3: #cecece;
  --color-grey-light-4: #b4b3b3;

  --color-grey-dark-1: rgb(109, 109, 109);
  --color-grey-dark-2: rgb(82, 82, 82);
  --color-grey-dark-3: #333;

  // CONTENT WIDTH
  --content-max-width: 120rem;

  // HEADER HEIGHT
  --header-height: 6.5rem;

  // FONT SIZE
  --default-font-size: 1.6rem;
  --footer-font-size: 1.4rem;

  // BORDER-RADIUS
  --border-radius-xsmall: 0.5rem;
  --border-radius-small: 1rem;
  --border-radius-medium: 2rem;
  --border-raidus-large: 3rem;

  // PADDING, MARGIN
  --padding-body: 2rem;
}

$shadow-grey: 0 0 0 1px var(--color-grey-light-2),
  0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

$shadow-grey-2: 0 0 0 1px var(--color-grey-light-2),
  0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.05);

$shadow-green: 0 0 0 1px var(--color-secondary-light),
  0 2px 4px 0 rgba(126, 213, 111, 0.2), 0 1px 1.5px 0 rgba(126, 213, 111, 0.1);

$shadow-red: 0 0 0 1px #ff7d7d, 0 2px 4px 0 rgba(243, 0, 0, 0.1),
  0 1px 1.5px 0 rgba(243, 0, 0, 0.1);

$shadow-red--focus: 0 0 0 1px var(--color-red),
  0 2px 4px 0 rgba(243, 0, 0, 0.15), 0 1px 1.5px 0 rgba(243, 0, 0, 0.1);

$shadow-bottom-grey: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
