.avatar {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  img {
    @include img-100-cover;
    border-radius: 50%;
    transition: box-shadow 0.2s;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  &--link {
    cursor: pointer;
    &:link,
    &:visited {
      color: var(--color-grey-dark-3);
    }
  }

  &--icon {
    @include icon-like-common-styles;
  }

  &--user-menu {
    width: 6rem;
    height: 6rem;

    svg {
      width: 6rem;
      height: 6rem;
    }
  }

  &--profile {
    width: 10rem;
    height: 10rem;
    box-shadow: $shadow-grey-2;

    svg {
      width: 80%;
      height: 80%;
    }
  }

  &--chat {
    @include icon-like-common-styles;
    width: 2.5rem;
    height: 2.5rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &--hide {
    visibility: hidden;
  }
}
