.btn {
  &,
  &:link,
  &:visited {
    font-size: var(--default-font-size);
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-grey-dark-3);
  }
}
