.icon {
  width: 4rem;
  height: 4rem;

  border-radius: var(--border-radius-medium);

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 2rem;
    height: 2rem;
  }

  @include icon-like-common-styles;
}
