.listing-card {
  max-width: 26rem;
  min-width: 19rem;
  position: relative;

  &__photos {
    width: 100%;
    min-height: 19rem;
  }

  &__info {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__title {
      color: var(--var-grey-dark-3);
      line-height: 2rem;
      display: inline-block;

      &:link,
      &:active,
      &:hover {
        text-decoration: none;
      }
    }

    &__price {
      line-height: 2rem;
    }
  }

  &__icon-btn {
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-raidus-large);
    background-color: rgba($color: #000000, $alpha: 0.5);
    cursor: pointer;
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.8rem;
      height: 1.8rem;
      color: var(--color-white);
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.8);
    }

    &--saved {
      svg {
        color: var(--color-primary);
      }

      &:hover {
        svg {
          color: var(--color-white);
        }
      }
    }

    &--delete {
      &:hover {
        svg {
          color: var(--color-red);
        }
      }
    }

    &--edit {
      &:hover {
        svg {
          color: var(--color-secondary-light);
        }
      }
    }
  }

  &__icon-btns {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;

    display: flex;
    flex-direction: column;
  }
}
