.location {
  position: relative;

  &__list {
    width: 100%;
    position: absolute;
    list-style-type: none;
    font-size: 1.3rem;
    border-radius: var(--border-radius-xsmall);
    box-shadow: $shadow-grey;
    background-color: var(--color-white);

    &__item {
      padding: 1rem 2rem;
      cursor: pointer;

      &:hover,
      &--active {
        background-color: var(--color-grey-light-1);
      }

      &:first-of-type {
        border-top-left-radius: var(--border-radius-xsmall);
        border-top-right-radius: var(--border-radius-xsmall);
      }

      &:last-of-type {
        border-bottom-left-radius: var(--border-radius-xsmall);
        border-bottom-right-radius: var(--border-radius-xsmall);
      }
    }
  }

  &__loader {
    position: absolute;
    top: 4rem;
    right: 2rem;
  }
}
