.messenger {
  display: flex;
  flex-direction: row;

  &__info-cards {
    min-width: 20rem;
    max-width: 30rem;
    width: 30%;

    height: 100vh;
    overflow: scroll;

    border-right: 1px solid var(--color-grey-light-2);

    &__item {
      width: 100%;
      height: 6.5rem;
      padding: 0.8rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      cursor: pointer;
      border-bottom: 1px solid var(--color-grey-light-2);

      &__middle {
        flex: 1;
        margin: 0 0.7rem 0.4rem 0.7rem;

        overflow: hidden;
      }

      &__recipient-name {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: capitalize;
        white-space: nowrap;
      }

      &__last-msg {
        font-size: 1.1rem;
        font-weight: 400;
        white-space: nowrap;
      }

      &__last-sent-at {
        font-size: 1.1rem;
        line-height: 1.1;
        font-weight: 300;
      }

      &__listing-photo {
        width: 4.5rem;
        height: 4.5rem;

        img {
          @include img-100-cover;
          border-radius: var(--border-radius-xsmall);
          transition: box-shadow 0.2s;

          &:hover {
            box-shadow: $shadow-green;
            transition: box-shadow 0.2s;
          }
        }
      }
    }
  }

  &__conversation-card {
    margin-left: 1rem;
    width: 70%;
    background-color: bisque;
  }
}
