.messenger {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 10rem); // TODO: get footer actual height

  &__info-cards {
    min-width: 20rem;
    max-width: 30rem;
    width: 30%;

    height: 100%;
    overflow: scroll;

    padding-right: 1rem;
    border-right: 1px solid var(--color-grey-light-1);

    &__item {
      width: 100%;
      min-height: 6.5rem;
      padding: 0.8rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      cursor: pointer;
      position: relative;
      border-radius: var(--border-radius-small);
      transition: background-color 0.2s;

      &__middle {
        flex: 1;
        margin: 0 1rem 0.4rem 0.7rem;

        overflow: hidden;
      }

      &__recipient-name {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: capitalize;
        white-space: nowrap;
      }

      &__last-msg {
        font-size: 1.2rem;
        font-weight: 400;
        white-space: nowrap;
        color: var(--color-grey-dark-2);
      }

      &__last-sent-at {
        font-size: 1.1rem;
        line-height: 1.1;
        font-weight: 300;
      }

      &__listing-photo {
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;

        img {
          @include img-100-cover;
          border-radius: var(--border-radius-xsmall);
          transition: box-shadow 0.2s;

          &:hover {
            box-shadow: $shadow-green;
          }
        }
      }

      &--unread {
        .messenger__info-cards__item__recipient-name {
          font-weight: 700;
        }

        .messenger__info-cards__item__last-msg {
          font-weight: 700;
          color: var(--color-grey-dark-3);
        }

        &::before {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: var(--color-primary);

          position: absolute;
          top: 1.3rem;
        }
      }

      &--active,
      &:hover {
        background-color: var(--color-grey-light-1);
      }
    }
  }

  &__conversation-card {
    flex: 1;
    height: 100%;
    position: relative;

    // ------------ HEADER -----------------
    &__header {
      display: flex;
      flex-direction: row;

      box-shadow: $shadow-bottom-grey;
    }

    &__delete {
      flex-shrink: 0;
      margin: auto 1rem;
      background-color: transparent;
    }

    &__listing {
      width: 100%;
      display: flex;
      overflow: hidden;

      padding: 1rem;
      transition: background-color 0.2s;

      &:link,
      &:visited {
        text-decoration: none;
        color: var(--color-grey-dark-3);
      }

      &:hover {
        background-color: var(--color-grey-light-1);
        border-top-right-radius: var(--border-radius-xsmall);
      }

      &__photo {
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
        flex-shrink: 0;

        img {
          @include img-100-cover;
          border-radius: var(--border-radius-xsmall);
        }
      }

      & > p {
        white-space: nowrap;
      }
    }

    // ------------ BODY -----------------
    &__body {
      margin: 0 1rem;
      height: calc(
        100% - 7rem - 5rem
      ); // TODO: get listing's height and input form's height
      overflow: scroll;
    }

    &__recipient {
      &:link,
      &:visited {
        text-decoration: none;
        color: var(--color-grey-dark-3);
      }

      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 2rem 0;

      &__info {
        margin-left: 0.8rem;
      }
    }

    &__message {
      &--left {
        display: flex;

        &__content {
          background-color: khaki;
        }
      }

      &--right {
        display: flex;
        justify-content: flex-end;

        &__content {
          background-color: skyblue;
        }
      }
    }

    // ------------ FOOTER -----------------
    &__form {
      width: 100%;
      position: absolute;
      bottom: 0;

      padding: 0 1rem;
      display: flex;
    }

    &__input {
      @include input-field-common-styles;
      border-radius: var(--border-raidus-large);
      background-color: var(--color-grey-light-1);
      padding: 1rem;
    }

    &__submit-btn {
      margin-left: 1rem;
    }
  }
}
